"*":
  "atom-shell-commands":
    commands: [
      {
        arguments: [
          "-Wall"
          "-O2"
          "-std=c++11"
          "{FileNameNoExt}.cpp"
          "-o"
          "{FileNameNoExt}.exe"
        ]
        command: "g++"
        matchs: [
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+):(?<line>\\d+):(?<col>\\d+):"
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+):(?<line>\\d+):"
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+)\\s*\\((?<line>\\d+)\\)\\s*:*:"
        ]
        name: "build"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-2"
          save: true
      }
      {
        arguments: [
          "/Users/stefant/.atom/./launch.cmd {FileDir} {FileNameNoExt}.exe"
        ]
        command: "/Users/stefant/.atom/./iterm.sh"
        matchs: []
        name: "execute"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-3"
          save: true
      }
    ]
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "nuclide"
      "build"
      "script"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 18
    tabLength: 4
  "exception-reporting":
    userId: "37c0a8a0-c624-4dd7-beb8-c8833656ef14"
  "flex-tool-bar": {}
  "linter-gcc":
    gccLintOnTheFly: true
  "linter-ui-default": {}
